@media screen and (min-width: 480px) {
    img {
        width: 40%;
      }
    h1 {
        font-family: Lucida Console, Courier New, monospace; 
        font-size:3vw; 
      }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    div {
        font-family: Lucida Console, Courier New, monospace; 
        font-size:1vw;;
      }
    .p1 {
        font-family: Lucida Console, Courier New, monospace;
        font-size: 100%;
    }
    .p2 {
        font-size: 50%;
    }
    .down {
        height: 30px;
    }
    }
