@media screen and (max-width: 480px) {
img {
    width: 64%;
  }
h1 {
    font-family: Lucida Console, Courier New, monospace; 
    font-size:6vw; 
  }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
div {
    font-family: Lucida Console, Courier New, monospace; 
    font-size:2vw;;
  }
.bodydown {
    height: 100px;
}
#p1 {
  font-size: x-small;
}
#p2 {
  font-size: 20%;
}
}
